body {
    background-color: lightblue;
}

.right {
}

.subsec{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: Tomato;
    border: 10px;
}

#HTML {
    background-color: Salmon;
    width: 350px;
}

h3 {
    text-align: center;
}

.btn{
    text-align: center;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
    border-color: Black;
    background-color: White;
}
