body {
    background-color:#102030;
}

#content{
    width: 70%;
    margin: auto;
}

.right {
    background-color:#703030;
    width: 350px;
    padding-bottom: 50px;
}

.subsec{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: Tomato;
    border: 10px;
    padding-bottom: 50px;
}

#HTML {
    background-color: Salmon;
    width: 350px;
    padding-bottom: 50px;
}

h3 {
    text-align: center;
}

.btn{
    text-align: center;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
    border-color: Black;
    background-color: White;
}


/* Dropdown Button */
.dropbtn {
    background-color: #102030;
    color:#207090;
    padding: 16px;
    font-size: 16px;
    border-style:solid;
    border-color:#104060;
    border-width:3px;
    width: 154px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #103050;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color:#207090;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #103050
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #703030;
    color: salmon;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color:#103050;
    border-color:#103050;
}

.sub{
    border-bottom: 2px solid #105070;
    border-top: 2px solid #105070;
    color: #207090;
    font-size: 115%;
}
