/*Definine colours*/
:root{
	--main-bg-colour: #102030;
	--unselected-text: #207090;
	--selected-text: salmon;
	--higlighted-block: #703030;
	--unselected-block: #103050;
	--grad: linear-gradient(135deg,#03828a ,#102030,#102030 ,#65206d );
	--blockcolour: #efdac5;
	--textcolour: #910262;
	--yellBGcolour: #fdf3da;
}

#content{
  width: 70%;
  margin: auto;
}

.divtwo{
	background-color: var(--blockcolour);
}

#subcontent{
	background-color: var(--yellBGcolour);
	color: var(--textcolour);
	padding: 10px;
}

body{
	background: var(--grad);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1{
	font-size: 200%;
	text-align: center;
}