body {
  background-color: LightBlue;
}

.expl {
  
}

.eq {
  background-color: White;
  text-align: center;
  width: 300px;
  
}

.lecode {
  
}

#content{
  width: 70%;
  margin: auto;
  
}

#gw2agon{
  border: 2px solid Tomato;
}
