/*Definine colours*/
:root{
	--main-bg-colour: #102030;
	--unselected-text: #207090;
	--selected-text: salmon;
	--higlighted-block: #703030;
	--unselected-block: #103050;
	--grad: linear-gradient(135deg,#03828a ,#102030,#102030 ,#65206d );
	--blockcolour: #efdac5;
	--textcolour: #910262;
	--yellBGcolour: #fdf3da;
}


h1 {
	text-align: center;
	font-size: 200%;
}


body {
  background: var(--grad);
  background-repeat: no-repeat;
   background-attachment: fixed;
}

.expl {
  
}

.eq {
  background-color: var(--blockcolour);
  text-align: center;
  width: 70%;
  margin: auto;
  font-size: 12px;  
  margin-top:10px;
  margin-bottom:10px;
}

.lecode {
  background: var(--blockcolour);
  width: 40%;
  margin: auto;
  margin-top: 15px;
  padding: 5px;
  border: 2px solid #d00f5a;
}

#content{
  width: 70%;
  margin: auto;
  
  color: var(--textcolour);
  margin-top:0px;
}

#gw2agon{
  border: 2px solid var(--textcolour);
  padding: 30px;
  padding-top: 5px;
  background-color: var(--yellBGcolour);
}
