body {
  background-color: LightBlue;
}

.expl {
  
}

.eq {
  background-color: White;
  text-align: center;
  width: 70%;
  margin: auto;
  font-size: 11px;  
  margin-top:10px;
  margin-bottom:10px;
}

.lecode {
  background-color: White;
  width: 40%;
  margin: auto;
  margin-top: 15px
  padding: 5px;
  border: 2px solid DarkSlateGray;
}

#content{
  width: 70%;
  margin: auto;
  
}

#gw2agon{
  border: 2px solid Tomato;
  padding: 30px
}
