body {
    background-color:#102030;
	background: linear-gradient(135deg,#03828a ,#102030,#102030 ,#65206d );
	background-repeat: no-repeat;
    background-attachment: fixed;
}

#content{
    width: 70%;
    margin: auto;
	background-color:#102030;
	color: salmon;	
}

#subcont{
	width: 50%;
	margin-left: 5px;
}

.combo{
	background: linear-gradient(-135deg ,#102030,#703030 );
}

#disc{
	color: #207090;

	font-size: small;
}

.selectors{
	background: linear-gradient(-135deg ,#102030,#703030 );
	border-color: #102030;
	border-style: solid;
}

/*________________________JS________________________*/
.combos > div{ /*Direct child divs*/
	border-top-style: solid;
	border-color: #102030;
}

#

/*________________________END_JS________________________*/





