/*Definign colours*/
:root{
	--main-bg-colour: #102030;
	--unselected-text: #207090;
	--selected-text: salmon;
	--higlighted-block: #703030;
	--unselected-block: #103050;
}



body {
    background-color:var(--main-bg-colour);
	background: linear-gradient(135deg,#03828a ,var(--main-bg-colour),var(--main-bg-colour) ,#65206d );
	background-repeat: no-repeat;
    background-attachment: fixed;
}

#content{
    width: 70%;
    margin: auto;
	background-color:var(--main-bg-colour);
	color: var(--selected-text);	
}

#subcont{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 10px;
}

#tullsection{
	border: 1px solid var(--selected-text);
}

#katasection {
	border: 1px solid var(--selected-text);
}

.combo{
	background: linear-gradient(-135deg ,var(--main-bg-colour),var(--higlighted-block) );
	text-indent: 10px;
}

#disc{
	color: var(--unselected-text);
	font-size: small;
}

.selectors{
	border: 1px solid var(--selected-text);
	border-bottom: 2px solid var(--selected-text);
	padding-bottom: 2px;
}

.secttitle {
	font-size: 300%;
	text-align: center;
	
}

select {
	width:100%;
}

.gobutton {
	width: 98%;
	padding: 1%;
	margin: 1%;
	background-color: var(--selected-text);
	color: var(--main-bg-colour);
	border: none;
	font-family: "Times New Roman", Times, serif;
	font-size:125%;
}

.tullorkata{
	padding-left: 10px;
	text-indent: 10px;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltipcontent {
	visibility: hidden;
	position: absolute;
	z-index: 1;
	width: 100px;
	background-color: var(--main-bg-colour);
	padding: 10px;
	padding-left: 20px;
	border-style: solid;
	border-color: var(--selected-text);
	border-width: 1px;
	text-indent: 0px;
}

.tooltipcontent a{
	float: left;
	width: 100%;
	color: var(--unselected-text);
	padding-top: 3px;
	padding-left: 5px
}

.tooltip:hover .tooltipcontent {
	visibility: visible;	
}


.combos > div{ /*Direct child divs*/
	border-top-style: solid;
	border-color: var(--main-bg-colour);
}


/*________________________END_JS________________________*/

/*Custom widths*/

@media only screen and (max-width: 600px) {
	#content {
		width: 100%;
	}
}
@media only screen and (max-width: 800px) {
  	#subcont{
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 10px;
}
}

@media only screen and (max-device-width: 1200px) {
	#content {
		width: 100%;
	}
	#subcont{
	width: 70%;
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 10px;
	}
  
  .selectors{
	font-size: 200%;
	}
  .secttitle {
	font-size: 300%;
	}
	select {
	font-size:200%;
	}

	.gobutton {
	font-size:200%;
	}
}